/* COLOR PRIMARY */
	/* COLOR */
	a:hover,
	a:focus,
	.add-to-cart-grid .cart-icon strong,
	.tagcloud a,
	.navigation-paging a,
	.navigation-image a,
	#header-outer-wrap .mobile-menu a,
	.logo a,
	li.mini-cart .cart-icon strong,
	.widget_product_tag_cloud a,
	.widget_tag_cloud a,
	#header-outer-wrap .mobile-menu a.mobile-menu a,
	.checkout-group h3,
	.order-review h3,
	#yith-searchsubmit .icon-search,
	.mini-cart-item .cart_list_product_price,
	.remove:hover i,
	.price,
	.product-item .info .price,
	.widget_products .product_list_widget li .amount,
	.widget_top_rated_products .product_list_widget li .amount,
	.support-icon,
	.entry-meta a,
	#order_review_heading,
	.checkout-group h3,
	.shop_table.cart td.product-name a,
	a.shipping-calculator-button,
	.widget_layered_nav li a:hover,
	.widget_layered_nav_filters li a:hover,
	.product_list_widget .text-info span,
	.left-text i,
	.copyright-footer span,
	#menu-shop-by-category li.active.menu-parent-item .nav-top-link::after,
	.product_list_widget .product-title:hover,
	.item-product-widget .product-meta .product-title a:hover,
	.product_list_widget span.amount,
	.lt-sc-pdeal.lt-sc-pdeal-block .lt-sc-p-info .left .lt-sc-p-price ins span.amount,
	.lt-sc-pdeal.lt-sc-pdeal-full .lt-sc-block-content .lt-sc-info .lt-sc-p-price ins span.amount,
	.lt-sc-pdeal .countdown .countdown-row span.countdown-section span.countdown-amount,
	.bread.lt-breadcrumb-has-bg .row .breadcrumb-row a:hover,
	.bread.lt-breadcrumb-has-bg .columns .breadcrumb-row a:hover,
	.category-page .filter-tabs li.active i,
	.category-page .filter-tabs li:hover i,
	.group-blogs .blog_info .post-date span,
	.header-type-3 ul.header-nav li a.nav-top-link:hover,
	.widget_layered_nav li:hover a,
	.wpb_wrapper .contact-information li div i,
	.widget_layered_nav_filters li:hover a,
	.remove .icon-close:hover,
	.absolute-footer .left .copyright-footer span,
	.service-block .box .title .icon,
	.contact-information .contact-text strong,
	.nav-wrapper .header-nav li.root-item a:hover,
	.group-blogs .blog_info .read_more a:hover,
	.mini-cart .nav-dropdown .cart_list .mini-cart-item .mini-cart-info .cart_list_product_quantity,
	#top-bar .top-bar-nav li.color a,
	.absolute-footer li a:hover,
	.lt-recent-posts li .post-date,
	.lt-recent-posts .read-more a,
	.widget.woocommerce li a:hover,
	.filter-tabs li.active i, .filter-tabs li:hover i,
	.widget.woocommerce li.current-cat a,
	.team-member .member-details h3,
	.shop_table .remove-product .icon-close:hover,
	.lt-tabs-content .lt-tabs li.active h5,
	.lt-tabs-content .lt-tabs li:hover h5,
	.product-interactions .btn-link:hover,
	.service-block .box .service-icon,
	.absolute-footer ul.menu li a:hover,
	.vertical-menu h4.section-title::before,
	.lt-instagram .username-text span,
	.bread .breadcrumb-row h3 a:hover,
	.bread .breadcrumb-row h3 .current,
	.lt-pagination.style-1 .page-number li span.current,
	.lt-pagination.style-1 .page-number li a:hover,
	.tparrows:hover:before,
	#vertical-menu-wrapper li.root-item:hover > a,
	.widget.woocommerce li.cat-item a.lt-active,
	.widget.widget_categories li a.lt-active,
	.widget.widget_archive li a.lt-active,
	.lt-filter-by-cat.lt-active,
	.html-text i {
		color: #53b5f6;
	}
	ul.header-nav li.active a.nav-top-link,
	ul li .nav-dropdown > ul > li:hover > a,
	ul li .nav-dropdown > ul > li:hover > a::before,
	ul li .nav-dropdown > ul > li .nav-column-links > ul > li a:hover,
	ul li .nav-dropdown > ul > li .nav-column-links > ul > li:hover > a::before {
		color: #53b5f6;
	}
	
	.blog_shortcode_item .blog_shortcode_text h3 a:hover,
	.main-navigation li.menu-item a:hover,
	.widget-area ul li a:hover,
	h1.entry-title a:hover,
	.comments-area a,
	.collapses.active .collapses-title a,
	.progress-bar .bar-meter .bar-number,
	.product-item .info .name a:hover,
	.wishlist_table td.product-name a:hover,
	.product_list_widget .text-info a:hover,
	.product-list .info .name:hover,
	.primary-color,
	ul.main-navigation li .nav-dropdown > ul > li .nav-column-links > ul > li a:hover {
		color: #53b5f6 !important;
	}
	
	/* BACKGROUND */
	.tabbed-content.pos_pills ul.tabs li.active a,
	li.featured-item.style_2:hover a,
	.bery_hotspot,
	.label-new.menu-item a:after,
	.text-box-primary,
	.navigation-paging a:hover,
	.navigation-image a:hover,
	.next-prev-nav .prod-dropdown > a:hover,
	.widget_product_tag_cloud a:hover,
	.widget_tag_cloud a:hover,
	.custom-cart-count,
	a.button.trans-button:hover,
	.please-wait i,
	li.mini-cart .cart-icon .cart-count,
	.product-img .product-bg,
	#submit,
	button,
	#submit,
	button,
	input[type="submit"],
	.post-item:hover .post-date,
	.blog_shortcode_item:hover .post-date,
	.group-slider .sliderNav a:hover,
	.support-icon.square-round:hover,
	.entry-header .post-date-wrapper,
	.entry-header .post-date-wrapper:hover,
	.comment-inner .reply a:hover,
	.social-icons .icon.icon_email:hover,
	.widget_collapscat h3,
	ul.header-nav li a.nav-top-link::before,
	.sliderNav a span:hover,
	.shop-by-category h3.section-title,
	ul.header-nav li a.nav-top-link::before,
	.custom-footer-1 .bery-hr,
	.products.list .product-interactions .quick-view:hover,
	.products.list .product-interactions .yith-wcwl-add-button:hover,
	ul.header-nav li a.nav-top-link::before,
	.widget_collapscat h2,
	.shop-by-category h2.widgettitle,
	.rev_slider_wrapper .type-label-2,
	.bery-hr.primary-color,
	.products.list .product-interactions .yith-wcwl-add-button:hover,
	.pagination-centered .page-numbers a:hover, .pagination-centered .page-numbers span.current,
	.cart-wishlist .mini-cart .cart-link .cart-icon .products-number,
	.load-more::before,
	.item-product-widget .images .quick-view:hover,
	.owl-carousel .owl-nav div:hover,
	.tp-bullets .tp-bullet:hover,
	.tp-bullets .tp-bullet.selected,
	.products-arrow .next-prev-buttons .icon-next-prev:hover,
	.product-interactions .btn-link:hover
	{
		background-color: #53b5f6;
	}
	.button.trans-button.primary,
	button.primary-color,
	#lt-popup .ninja-forms-form-wrap .ninja-forms-form .ninja-forms-all-fields-wrap .field-wrap .button,
	.newsletter-button-wrap .newsletter-button,
	.widget.woocommerce li.lt-li-filter-size.chosen, .widget.woocommerce li.lt-li-filter-size.lt-chosen,
	.widget.woocommerce li.lt-li-filter-size:hover,
	.lt-tag-cloud a.lt-active
	{
		background-color: #53b5f6 !important;
	}

	/* BORDER COLOR */
	.text-bordered-primary,
	.add-to-cart-grid .cart-icon-handle,
	.add-to-cart-grid.please-wait .cart-icon strong,
	.navigation-paging a,
	.navigation-image a,
	.post.sticky,
	.widget_product_tag_cloud a,
	.next-prev-nav .prod-dropdown > a:hover,
	.iosSlider .sliderNav a:hover span,
	.woocommerce-checkout form.login,
	li.mini-cart .cart-icon strong,
	li.mini-cart .cart-icon .cart-icon-handle,
	.post-date,
	.main-navigation .nav-dropdown ul,
	.remove:hover i,
	.support-icon.square-round:hover,
	.widget_price_filter .ui-slider .ui-slider-handle,
	h3.section-title span,
	.social-icons .icon.icon_email:hover,
	.button.trans-button.primary,
	.seam_icon .seam,
	.border_outner,	
	.pagination-centered .page-numbers a:hover, .pagination-centered .page-numbers span.current,
	.owl-carousel .owl-nav div:hover,
	.products-arrow .next-prev-buttons .icon-next-prev:hover,
	.products.list .product-interactions .yith-wcwl-wishlistexistsbrowse a,
	.owl-carousel .owl-dots .owl-dot.active,
	.owl-carousel .owl-dots .owl-dot.active:hover,
	.widget.woocommerce li.lt-li-filter-size.chosen a, .widget.woocommerce li.lt-li-filter-size.lt-chosen a,
	.widget.woocommerce li.lt-li-filter-size:hover a
	{
		border-color: #53b5f6;
	}

	.widget_product_tag_cloud a:hover,
	.widget_tag_cloud a:hover,
	.promo .sliderNav span:hover,
	input[type="submit"]:hover,
	.remove .icon-close:hover {
		border-color: #53b5f6 !important;
	}

	.tabbed-content ul.tabs li a:hover:after,
	.tabbed-content ul.tabs li.active a:after {
		border-top-color: #53b5f6;
	}

	.collapsing.categories.list li:hover,
	#menu-shop-by-category li.active {
		border-left-color: #53b5f6 !important;
	}
/* END PRIMARY COLOR */
form.cart .button:hover,
.button:hover,
button:hover,
a.primary.trans-button:hover,
.form-submit input:hover,
#payment .place-order input:hover,
input#submit:hover {
	background-color: #53b5f6 !important;
	border-color: #53b5f6 !important;
};