.service-block{
    position: relative;
    cursor: pointer;
    .box{
        background: #f7f7f7;
        padding: 20px 35px; 
        overflow: hidden;
        vertical-align: middle;
        .service-icon{
            float: left;
            margin-right: 20px;
            font-size: 250%;
            color: $primary-color;
            margin-top: 5px;
            @include single-transition(all, 350ms);
        }
        .service-text{
            overflow: hidden;
            .service-title{
                font-weight: bold;
            }
            .service-desc{
                font-size: 110%;
                color: #777;
            }
        }
        &:hover .fly_effect{
            -webkit-transform: translate(30px, -80px);
            -ms-transform: translate(30px, -80px);
            -o-transform: translate(30px, -80px);
            transform: translate(30px, -80px);
            -webkit-transition: all 1.3s cubic-bezier(1, -0.53, 0.405, 1.425) 0.1s;
            transition: all 1.3s cubic-bezier(1, -0.53, 0.405, 1.425) 0.1s;
            cursor: pointer;
        }
        &:hover .zoom_effect{
            -webkit-transform: scale(1.03);
            -moz-transform: scale(1.03);
            -o-transform: scale(1.03);
            transform: scale(1.03);
        }
        &:hover .buzz_effect{
            -webkit-animation-name: hvr-buzz-out;
            animation-name: hvr-buzz-out;
            -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }
        &:hover .rotate_effect{
            @include rotate(90deg);
        }
    }
}

#lt-footer{
    margin-top: 60px;
    @include single-transition(all, 350ms);
    .footer{
        padding: 60px 0px 15px 0px;
        background: #f8f8f8;
        border-top: 1px solid #ececec;
    }
    .footer .widget-title{
        color: $body-color-bold;
    }
    .footer .bery-hr, .top-footer .bery-hr {
        display: block;
        height: 2px;
    }
    .footer{
        h4,
        .vc_single_image-img{
            margin-bottom: 30px;
        }
        .wpb_text_column{
            p{
                margin-bottom: 30px;
            }
        }
        &.footer-dark{
            background: #2f2f2f;
            color: #ddd;
            a,
            h2,
            h3,
            h4{
                color: #ddd;
            }
            input{
                background: #363636;
                border: none !important;
                color: #ccc;
                &.button{
                    background-color: #4f4f4f !important;
                    background-image: url("images/newsletter_bg.png");
                    background-repeat: no-repeat;
                    background-position: center center;
                    color: #fff;
                    &:hover{
                        background-color: $primary-color !important;
                    }
                }
            }
            .contact-icon{
                i{
                    color: #fff !important;
                }
            }
        }
        .widget_nav_menu{
            .menu{
                a{
                    @include single-transition(all, 350ms);
                    &:hover{
                        padding-left: 3px;
                    }
                }
            }
        }
    }
}

.absolute-footer,
.footer-type-4{
    ul.menu{
        line-height: 0.5em;
        li{
            list-style: none; 
            display: inline-block;
            margin-right: 10px; 
            padding-right: 12px; 
            a{
                color: $body-font-color;
                line-height: inherit !important;
                &:hover{
                    color: $color-hover;
                }
            }
        }
    }
    p{
        line-height: 0.8em
    }
}

.absolute-footer{
    background-color:#fff;
    border-top: 1px solid #ececec;
    font-size: 100%;
    float: none;
    padding: 35px 0px;
    .widget{
        margin-bottom: 0px;
    }
    &.dark{
        background: #090909;
        color: #888;
        border: none;
        ul{
            li{
                border-color: #888;
                a{
                    color: #888;
                    &:hover{
                        color: #b8b8b8 !important;
                    }
                }
            }
        }
    }
}

.footer .contact-logo{
    margin-bottom: 20px;
}

.contact-icon.border-circle{
    position: relative;
    border: 1px solid #ddd;
    @include radius(99px);
    width: 38px;
    height: 38px;
    margin-right: 13px;
    background: #fff;
}
.contact-icon.border-circle .fa-paper-plane,
.contact-icon.border-circle .fa-envelope{
    position: absolute;
    top: 25%;
    left: 27%;
}
.contact-icon.border-circle .fa-phone{
    position: absolute;
    top: 28%;
    left: 35%;
}
.footer-type-1{
    background: #f8f8f8;
    border-top: 1px solid #f1f1f1;
}
.footer-type-4{
    padding: 0px 30px;
    margin-top: -45px;
    .widget{
        &.widget_nav_menu{
            text-align: center;
        }
    }
    .social-icons{
        text-align: right;
        line-height: 0.5em;
    }
}

.footer-service-box{
    padding: 20px 0px 60px 0px;
    &:before{
        display: block;
        content: '';
        height: 1px;
        background: #ddd;
        width: 35%;
        margin: 0 auto;
        margin-bottom: 55px;
    }
}

/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

@keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

.hvr-buzz-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz-out:hover,
.hvr-buzz-out:focus,
.hvr-buzz-out:active {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}